<nav class="navbar navbar-inner  navbar-expand navbar-light bg-light">
    <div class="container">
      <div class="navbar-header">
        <button
          type="button"
          class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar" router></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand" routerLink="/customers">
          
         <a routerLink="/">  <span class="app-title">{{pageTitle}}</span></a>
        </a>

        
      </div>
    </div>
  </nav>
